{% extends "base.html" %}

{% block title %}
    IES_MONITORING - 404
{% endblock %}

{% block body %}
    <div class="container h-100 bg-white p-3">
        <div class="row mt-5"> 
            <div class="col">
                <div class="text-center">
                    <div
                        style="background-image: url('/static/images/404.gif'); height: 60vh; background-position: center; background-size: cover;"
                    >
                        <h1 class="fs-x text-center">404</h1>
                        <p class="text-center">Page not found.</p>
                    </div>
                    <div class="row">
                        <h2>Looks like you took a wrong turn.</h2>
                        <p>The page you are looking for is currently unavailable.</p>
                    </div>
                    <a href="/" class="btn btn-sm btn-warning mb-5">Back to home page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}