<script type="text/javascript" src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/auth/user.js') }}" defer></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary py-2 border-bottom">
    <div class="container-lg">
        <a class="navbar-brand fw-semibold" href="{{ url_for('home_localized', lang=current_lang) }}" data-i18n="nav.brand">IES Monitoring</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel" data-i18n="nav.brand">IES Monitoring</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-lg-start flex-grow-1 pe-lg-3" id="navLinksStart">
                    <!-- Navigation items added here -->
                </ul>
                <ul class="navbar-nav justify-content-lg-end align-items-lg-center gap-lg-2 ms-lg-auto" id="navLinksEnd">
                    <!-- Login, Registration, and Logout nav items will be added here by JavaScript -->
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- The UserModal -->
{% include "auth/user.html" %}